<div class="navigation">
 <ul>
 <li class="navigation__item"><a href="index.html">Etusivu</a></li>
 <li class="navigation__item"><a href="history.html">Historia</a></li>
 <li class="navigation__item"><a href="guidelines.html">Risteilyohjeet</a></li>
 <li class="navigation__item"><a href="terms.html">Matkaehdot</a></li>
 <li class="navigation__item"><a href="contacts.html">Yhteystiedot</a></li>
 <li class="navigation__item"><a href="https://kide.app/events/c6de722c-b4d1-4ae9-92bb-9f871e533eba" class="button-1"><span>Liput</span></a></li>
 </ul>
</div>
