<div class="navigation">
 <ul>
 <li class="navigation__item"><a href="index.html">Etusivu</a></li>
 <li class="navigation__item"><a href="https://kide.app/events/fe21c769-4855-4107-b94e-be2d868a7cf4" target="_blank">Liput</a></li>
 <!--<li class="navigation__item"><a href="info.html">Teekkariristeily</a></li>
 <li class="navigation__item"><a href="prices.html">Faktaa & Hinnasto</a></li>
 <li class="navigation__item"><a href="schedule.html">Ohjelma</a></li>
 <li class="navigation__item"><a href="guidelines.html">Risteilyohjeet</a></li>
 <li class="navigation__item"><a href="contacts.html">Yhteystiedot</a></li> -->
 </ul>
</div>
