// Palette
$color-black: #282830;
$color-white: #FFFFF7;
$color-yellow: #FEC606;
$color-gray: #60646D;

$font-default: 'Roboto', sans-serif;
$font-bang: 'Bangers', cursive;
// Paddings and sizes
$padding-default: 12px;
