// Palette
$color-black: #282830;
$color-white: #FFFFF7;
$color-yellow: #FEC606;
$color-gray: #374047;

$font-default: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-bang: 'Bangers', cursive;
$font-opensans: 'Open Sans', sans-serif;
// Paddings and sizes
$padding-default: 12px;
