.logo {
  @include padding-provider(4);  
  max-width: 250px;
  width: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto; 
}

.content {
  @include material-shadow;
  @include padding-provider(2,2);
  margin-top: 10%;
  background-color: $color-white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  &__banner {
    @include material-shadow;
    width: 100%;
    border: 4px solid $color-black;
  }

  h2 {
    @include padding-provider(2, 2);
    font-family: $font-bang;
    font-size: 24px;
    text-align: center;

    a {
      text-decoration: none;
      color: $color-yellow;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    padding: $padding-default;
    text-align: justify;
    line-height: 1.4;
  }

  strong {
    font-weight: 900;
  }

  table {
    @include margin-provider;
    @include material-shadow;
    background-color: $color-white;
    font-family: $font-default;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $color-black;
    font-size: 16px;

    @media (max-width: 600px), (max-device-width: 600px){
      font-size: 12px;
    }

    &:last-child {
      font-weight: 900;

      th {
        font-weight: 300;
      }

      td {
        &:first-child {
          font-weight: 300;
        }
      }
    }
  }
  th {
    font-family: $font-bang;
    padding: $padding-default;
    background-color: $color-yellow;
    font-size: 20px;
  }
  td {
    padding: $padding-default;

    &:first-child {
      font-family: $font-bang;
      font-size: 16px;
    }

    &:last-child {
      font-weight: 900;
    }
  }

  &--contacts {
    text-align: center;
  }

  @media (max-width: 600px) {
    margin-top: 100px;
  }
}

