<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Teekkariristeily 2016</title>
  <link rel="icon" href="images/37_logo.png" type="image/png">
  <link rel="shortcut icon" href="images/37_logo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Oleo+Script|Monda' rel='stylesheet' type='text/css'>
</head>
<body>
<div class = "navi">
 <ul>
 <li><a href = "index.html">Etusivu</a></li>
 <li><a href = "risteily.html">Teekkariristeily</a></li>
 <li><a href = "prices.html">Faktaa & Hinnasto</a></li>
 <!-- <li><a href = "gallery.html">Galleria</a></li> -->
 <li><a href = "contacts.html">Yhteystiedot</a></li>
 </ul>
</div>
<div class = "container">
  <div class="banner">
  <img src="images/banner.png" id="banner"/>
  <div class = "inner-links">
  <ul>
  <li><a href="prices.html">Hinnasto</a></li>
  <li><a href="schedule.html">Ohjelma</a></li>
  <li><a href="guidelines.html">Ohjeet</a></li>
  </ul>
  </div>
  </div>
  <div class = "content">

  <h2>Ohjeita risteilyyn liittyen</h2>

  <h3>Matkaohjeet</h3>
    <ol class="terms">
      <li>
      Teekkariristeily 2015:n järjestäjänä toimii Kolmeseiska ry. Risteilyn aikana laivan normaalitoiminnoista vastaa Tallink Silja.
      </li>
      <li>
      Laivalla noudatetaan viranomaismääräysten lisäksi Tallink Siljan järjestyssääntöjä ja määräyksiä. Laivalla turvallisuudesta ja järjestyksenvalvonnasta vastaa laivayhtiö. Tallink Siljan säännöt, määräykset ja ohjeet löydät kokonaisuudessaan Tallinks Siljan internetsivuilta: <a href="http://www.tallinksilja.com/fi/web/fi/hyva-tietaa">http://www.tallinksilja.com/fi/web/fi/hyva-tietaa</a>
      <li>
        Matkavaraukset ovat sitovia. Matkan hinta määräytyy matkustajien lukumäärän ja valitun hyttiluokan sekä lisäpalvelujen mukaisesti. Varattuun matkaan on mahdollista tehdä muutoksia ja/tai peruutuksia järjestäjän ilmoittamien perutusehtojen (alla) mukaisesti.
      </li>
      <li>
        Matkustajat majoitetaan varauksessa valittuun hyttiluokkaan. Tallink Siljalla tai järjestäjällä on kuitenkin oikeus muuttaa matkustajien hyttiluokkaa paremmaksi hyttikiintiöiden täytyttyä tai ylivaraustapauksissa. Tallink Siljalla tai järjestäjällä ei ole kuitenkaan oikeutta veloittaa em. tapauksessa tehdystä muutoksesta matkustajia.
      </li>
      <li>
        Matkustaja vastaa itse itsestään ja huolehtii siitä, että on oikeassa paikassa oikeaan aikaan esim. ruokailuissa. Järjestäjä ei hyvitä esim. käyttämättä jääneitä ruokailukuponkeja.
      </li>
      <li>
        Peruutustapauksissa järjestäjä hyvittää matkalipun ja ruokailun alla mainittujen peruutusehtojen mukaisesti.
      </li>
      <li>
        Järjestäjän tuottamassa materiaalissa mainitut ajat ovat kaikki Suomen aikaa. Muutokset ja lisäykset ohjelmaan ovat mahdollisia. Kaikki oikeudet pidätetään.
      </li>
      <li>
        Teekkariristeilyllä voidaan taltioida tapahtumia järjestäjän toimesta tai järjestäjä voi hankkia tallenteita käyttöönsä matkustajilta. Kuvia ja muita tallenteita voidaan käyttää järjestäjän järjestämien tapahtumien markkinoinnissa sekä niitä voidaan julkaista kuvagalleriassa. 
      </li>
      <li>
        Laivan tax free -myymälään palvelee koko matkan normaalisti.
      </li>
    </ol>

    <h3>Peruutusehdot</h3>
    <ol class="terms">
      <li>
        Vain yhteyshenkilö voi tehdä muutoksia ja peruutuksia varaukseen.
      </li>
      <li>
        Kaikki muutokset ja peruutukset tehdään sähköpostitse.
      </li>
      <li>
        Kokonaishinnan muuttuessa varaukseen tehtävien muutosten seurauksena tulee erotus yhteyshenkilölle joko maksettavaksi tai palautettavaksi. Palautettavasta summasta vähennetään kuitenkin 0…100 % riippuen muutoksen tai peruutuksen ajankohdasta (perusteet mainittu alla).
      </li>
      <li>
        Ennen 28.1.2015 tehdyt peruutukset ja muutokset ovat maksuttomia, maksetut maksut hyvitetään yhteyshenkilön ilmoittamalle tilille ilman vähennyksiä.
      </li>
      <li>
        29.1.-23.2.2015 välisenä aikana tehdyistä peruutuksista ja palautuksiin oikeuttavista muutoksista palautetaan 50 %.
      </li>
      <li>
        23.2.2015 jälkeen tehdyistä peruutuksista ei myönnetä hyvityksiä. 
      </li>
      <li>
        Matkustajalla on oikeus peruuttaa matka ylivoimaisen esteen (esim. vakava sairastapaus) vuoksi. Tällaisissa tapauksissa noudatetaan yleisiä valmismatkaehtoja  Tallink Siljan käytännön mukaan.
      </li>
      <li>
        Järjestäjä ei korvaa matka-, majoitus- tai muita vastaavia kuluja, jotka aiheutuvat laivasta myöhästymisen, matkalipun hukkumisen, laivaan pääsyn eväämisen tai viranomaistoimien vuoksi.
      </li>
    </ol>
  </div>
</div>
<div class="disclaimer"><p>© 2016, Kolmeseiska ry</p></div>

</body>
</html>