<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Teekkariristeily 2025</title>
  <link rel="icon" href="assets/logo.png" type="image/png">
  <link rel="shortcut icon" href="images/37_logo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Roboto|Open Sans|Montserrat|Lato|Nunito Sans" rel="stylesheet">
</head>
<body>
{{> Navigation}}
{{#if hero}}
  <div class="hero-image" background-image={{hero}}></div>
{{/if}}

<div class="content {{#if content-modifier}}content--{{content-modifier}}{{/if}}">

  {{#if banner}}
  <img class="content__banner" src={{banner}} />
  {{/if}}
  {{{contents}}}

</div>



<span class="disclaimer">© 2025, Kolmeseiska ry</span>
</body>
</html>
