<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Teekkariristeily 2016</title>
  <link rel="icon" href="images/37_logo.png" type="image/png">
  <link rel="shortcut icon" href="images/37_logo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Oleo+Script|Monda' rel='stylesheet' type='text/css'>
</head>
<body>
<div class = "navi">
 <ul>
 <li><a href = "index.html">Etusivu</a></li>
 <li><a href = "risteily.html">Teekkariristeily</a></li>
 <li><a href = "prices.html">Faktaa & Hinnasto</a></li>
 <li><a href = "#">Ilmoittaudu</a></li>
 <!-- <li><a href = "gallery.html">Galleria</a></li> -->
 <li><a href = "contacts.html">Yhteystiedot</a></li>
 </ul>
</div>
<div class = "container">
  <div class="banner">
  <img src="images/banner.png" id="banner"/>
    
  </div>
  <div class = "content">
    <h2>Jaa mikä risteily?</h2>
    <p>Teekkariristeily, kaikkien teekkarien ja teekkarimielisten veijarien suosikkiristeily, näki ensimmäistä kertaa päivänvalon maaliskuussa 2015.</p>

    <p>Neitsytristeily starttasi Turusta mukanaan noin 140 eri puolilta Suomea saapunutta iloista risteilijää. Itse matka soljui eteenpäin kuin humalainen norsu mikroluokassa, täysillä ja tyylillä. Laivan ohjelma, järjestäjien lottoamat kisailut ja täysi tanssilattia pitivät huolen siitä, ettei ensimmäisellä risteilyllä aika käynyt pitkäksi!</p>

    <p>Vuoden 2015 matka on takana, joten onnistuneen matkan jälkeen onkin hyvä kääntä katse kauas tulevaisuuteen, Herran vuoteen 2016. Tuon vuoden keväällä otetaan sitten taas laivasta mittaa, sillä Teekkariristeily on tullut tänne pysyäkseen. 2016, heads up!</p>
  </div>

  <div class="imageContainer">
      <img src="images/frontpage/info1.jpg" class="frontImage"/>
      <img src="images/frontpage/info2.jpg" class="frontImage"/>
      <img src="images/frontpage/info4.jpg" class="frontImage"/>
    </div>
</div>
<div class="disclaimer"><p>© 2016, Kolmeseiska ry</p></div>

</body>
</html>