<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Teekkariristeily 2016</title>
  <link rel="icon" href="images/37_logo.png" type="image/png">
  <link rel="shortcut icon" href="images/37_logo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Oleo+Script|Monda' rel='stylesheet' type='text/css'>
</head>
<body>
<div class = "navi">
 <ul>
 <li><a href = "index.html">Etusivu</a></li>
 <li><a href = "risteily.html">Teekkariristeily</a></li>
 <li><a href = "prices.html">Faktaa & Hinnasto</a></li>
 <li><a href = "#">Ilmoittaudu</a></li>
 <!-- <li><a href = "gallery.html">Galleria</a></li> -->
 <li><a href = "contacts.html">Yhteystiedot</a></li>
 </ul>
</div>
<div class = "container">
  <div class="banner">
  <img src="images/banner.png" id="banner"/>
  <div class = "inner-links">
  <ul>
  <li><a href="prices.html">Hinnasto</a></li>
  <li><a href="schedule.html">Ohjelma</a></li>
  <li><a href="guidelines.html">Ohjeet</a></li>
  </ul>
  </div>
  </div>
  <div class = "content">
  <h2>Hinnastot hyteille ja ruokailuille</h2>
  <div class = "taulukot">
  <table id="cabinCatalog">
      <h3>Hyttihinnasto</h3>
      <p>Risteilyn hinta muodostuu valitusta hyttiluokasta sekä valittavasta ruokailusta. Ruokailun valinta on pakollinen. Matkoja myydään vain hyteittäin, joten yksittäislippujen ostaminen ei ole mahdollista. Teekkaripaikkakunnilta järjestetään yhteismatkoja risteilylle, ja tällöin hinta koostuu hytin ja ruokailun lisäksi bussimatkasta. Sivuille tullaan lisäämään tiedot eri paikkakuntien ilmoittautumiskäytännöistä! Varattavien hyttien lista on seuraavanlainen:</p>
      <thead>
        <th>Hytti</th>
        <th >Kuvaus</th>
        <th> Hinta (€/hytti)</th>
      </thead>
      <tbody>
        <tr class="pariton">
          <td>DeLuxe <br>(2hlö)</td>
          <td>Kahden hengen tilavia 11–14 m2 hyttejä (osassa hyteistä nojatuoli tai pieni sohva). Hyteissä on kiinteä parivuode (vuoteita ei saa erilleen), wc, suihku, hiustenkuivaaja, LCD-TV, puhelin, jääkaappi ja virvokkeita. Hintaan sisältyy erikoisaamiainen ja baarikaappi sisältöineen.</td>
          <td>140</td>
        </tr>
        <tr>
          <td>A2 <br>(2 hlö)</td>
          <td>Kahden hengen ikkunallisia 9 m2 hyttejä. Osassa hyteissä on kiinteä parivuode (vuoteita ei saa erilleen), wc, suihku ja LCD-TV.</td> 
          <td>70</td>
        </tr>
        <tr class="pariton">
          <td>A4 <br>(4 hlö)</td>
          <td>Neljän hengen ikkunallisia 9-10 m2 hyttejä. Hyteissä on wc, suihku ja LCD-TV.</td> 
          <td>120</td>
        </tr>
        <tr>
          <td>B2 <br>(2 hlö)</td>
          <td>Kahden hengen ikkunattomia 9 m2 sisähyttejä. Hyteissä on wc, suihku ja LCD-TV.</td> 
          <td>60</td>
        </tr>
        <tr class="pariton">
          <td>B4<br> (4 hlö)</td>
          <td>Neljän hengen ikkunattomia 9 m2 sisähyttejä. Hyteissä on wc, suihku ja LCD-TV.</td>
          <td>96</td>
        </tr>
        <tr>
          <td>E2 <br>(2 hlö)</td>
          <td>Kahden hengen ikkunattomia hyttejä. Hyteissä on wc, suihku ja LCD-TV. Hytit sijaitsevat yökerhon yläpuolella, joten niihin saattaa kantautua melua.</td> 
          <td>40</td>
        </tr>
        <tr class="pariton">
          <td>E4<br> (4 hlö)</td>
          <td>Neljän hengen ikkunattomia hyttejä. Hyteissä on wc, suihku ja LCD-TV. Hytit sijaitsevat yökerhon yläpuolella, joten niihin saattaa kantautua melua.</td>
          <td>60</td>
        </tr>
      </tbody>
    </table>

  <table id="dinnerCatalog">
      <h3>Ruokailuhinnasto</h3>
      <p>Taulukossa etukäteen ostettavien ruokailujen hinnat. Ruokakupongit voi käyttää myös osamaksuna muissa laivan ruokaravintoloissa. Maksettaessa ruokaa, jonka arvo on ruokalipun arvoa pienempi, ei erotusta hyvitetä asiakkaalle eikä käyttämättömiä ruokaseteleitä lunasteta takaisin. Taulukossa on listattu kuponkien arvo laivalla.</p>
      <thead>
        <th>Ruokailu</th>
        <th>Hinta (€)</th>
        <th>Kupongin arvo laivalla (€)</th>
      </thead>
      <tbody>
        <tr class="pariton">
          <td>Meriaamiainen</td>
          <td>10,50</td>
          <td>11,50</td>
        </tr>
        <tr>
          <td>Buffet-illallinen</td>
          <td>33,00</td>
          <td>34,00</td>
        </tr>
        <tr class="pariton">
          <td>Buffet-lounas</td>
          <td>25,00</td>
          <td>26,00</td>
          </tr>
      </tbody>
    </table>

    <p id="catalogDisclaimer"> Pidätämme oikeudet muutoksiin.</p>
    </div>
  </div>
</div>
<div class="disclaimer"><p>© 2016, Kolmeseiska ry</p></div>

</body>
</html>