<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Teekkariristeily 2016</title>
  <link rel="icon" href="images/37_logo.png" type="image/png">
  <link rel="shortcut icon" href="images/37_logo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Oleo+Script|Monda' rel='stylesheet' type='text/css'>
</head>
<body>
<div class = "navi">
 <ul>
 <li><a href = "index.html">Etusivu</a></li>
 <li><a href = "risteily.html">Teekkariristeily</a></li>
 <li><a href = "prices.html">Faktaa & Hinnasto</a></li>
 <li><a href = "#">Ilmoittaudu</a></li>
 <!-- <li><a href = "gallery.html">Galleria</a></li> -->
 <li><a href = "contacts.html">Yhteystiedot</a></li>
 </ul>
</div>
<div class = "container">
  <div class="banner">
  <img src="images/banner.png" id="banner"/>
  <div class = "inner-links">
  <ul>
  <li><a href="prices.html">Hinnasto</a></li>
  <li><a href="schedule.html">Ohjelma</a></li>
  <li><a href="guidelines.html">Ohjeet</a></li>
  </ul>
  </div>
  </div>
  <div class = "content">
	  <h2>Aikataulu</h2>
	  <h3>Torstai 3.3.2016</h3>
	  <div>
		  <ul>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">20.15</div>
				<div style="display: inline-block">Baltic Princess lähtee Turusta ja ravintolat aukeavat</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">21.15 - 24.00</div>
				<div style="display: inline-block">Trubaduuri Pubissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">21.15 - 23.30</div>
				<div style="display: inline-block">Karaoke iskelmäbaarissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">21.30 - 22.30</div>
				<div style="display: inline-block">Häikäisevän mahtava kaksikko <strong>Duo Karwattomat</strong> esiintyy Klubissa!</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">23.00</div>
				<div style="display: inline-block">Housebändi <strong>The London Soul Section</strong> Starlight Palacessa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">23 - 03.30</div>
				<div style="display: inline-block"><strong>DJ Tomi</strong> klubilla</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">23.45 - 01.30</div>
				<div style="display: inline-block"><strong>Trio Onnenkerjäläiset</strong> Iskelmäbaarissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">00.45 - 03.30</div>
				<div style="display: inline-block">Bilebändi <strong>Disco Inferno</strong> Starlight Palacessa</div>
			</li>
		  </ul>
	  </div>
	  <h3>Perjantai 4.3.2016</h3>
	  <div>
		<ul>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">11.00 - 12.00</div>
				<div style="display: inline-block"><strong>Aarteenetsinnän palkintojenjako</strong> Pubissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">12.00 - 14.00</div>
				<div style="display: inline-block"><strong>Rastikierros</strong> starttaa buffetin edestä</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">13.00 - 13.45</div>
				<div style="display: inline-block"><strong>Trubaduuri Annika Nordqvist</strong> Pubissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">13.00 - 15.45</div>
				<div style="display: inline-block"><strong>Trio Onnenkerjäläiset</strong> Iskelmäbaarissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">15.00 - 15.45</div>
				<div style="display: inline-block"><strong>Trubaduuri Annika Nordqvist</strong> Pubissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">15.30 - 17.15</div>
				<div style="display: inline-block">Housebändi <strong>The London Soul Section</strong> Starlight Palacessa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">15.00 - 17.00</div>
				<div style="display: inline-block"><strong>Rastikierroksen päättyminen ja Teekkaritapaaminen</strong> Klubissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">16.15 - 18.00</div>
				<div style="display: inline-block">Karaoke Iskelmäbaarissa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">17.30 - 18.15</div>
				<div style="display: inline-block">Bilebändi <strong>Disco Inferno</strong> Starlight Palacessa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif;">
				<div style="display: inline-block; min-width: 120px">19.15</div>
				<div style="display: inline-block">Baltic Princess Turussa</div>
			</li>
			<li style="display: block; list-style: none; width: 100%; padding-left: 20%; margin: 1em; font-family: 'Monda', sans-serif; color:red">
				<div style="display: inline-block; min-width: 120px">HUOM! Kaikki ajat Suomen aikaa</div>
			</li>
		</ul>
		</div>
		
		<h2>Helmiä!</h2>
		
		<h3>Löydä ja voita!</h3>
		<p>Järjestäjät ovat hukanneet joukon kavereitaan laivalle!</p>
		<p>Mikäli törmäät hukkaamaamme veitikkaan, niin blokkaa otus talteen ja palauta 37-paitaiselle tyypille paluupäivänä klo 11-12 Pubisa. Saatatpa ansaita löytöpalkinnon...</p>
		<p> PS. Veitikan tuntomerkit löytyvät satamassa jaettavasta ohjelmavihosta</p>
		
		<h3>Duo Karwattomat</h3>
		<p>Tämä kaksikko on niittänyt mainetta teekkareiden keskuudessa jo vuosia. Iloksemme Teekkariristeilyn virallisena pääesiintyjänä esintyykin tänä vuonna Duo Karwattomat!</p>
		<p> Saavu siis klo 21.30 Klubille! (kansi 10)
		
		<h3>Paluupäivän rastikierros</h3>
		<p>Saavu aluupäivänä eli perjantaina klo 12.00 buffetin eteen osallistumaan hulvattoman hauskalle <strong>Rastikierrokselle!</strong></p>
		<p>Suoritusaikaa on klo 15.00 asti ja tarkemmat tiedot ilmoitetaan paikan päällä.</p>
  </div>
</div>
<div class="disclaimer"><p>© 2016, Kolmeseiska ry</p></div>

</body>
</html>